.grid1 {

    @mixin atMedium {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    grid-gap: 65px;
    }

    &__4 {
        margin-bottom: 1rem;

        @mixin atMedium {
            margin-bottom: 0;
        }
    }
}

.grid2 {
    @mixin atLarge {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 100px;
        grid-row-gap: 2.5rem;
    }

    &__block {
        @mixin atMedium {
            display: grid;
            grid-template-columns: 1fr 5fr;
        }
    }

    &__block__title {
        font-weight: 300;
        margin-bottom: 1rem;
        font-size: 1.6rem;
        text-align: center;
        margin-top: .7em;

        @mixin atSmall {
            margin-top: 0;
            font-size: 1.875rem;        
        }

        @mixin atMedium {
            text-align: left;
        }
    }

    &__block__icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;

        @mixin atMedium {
            margin: 0 0;
        }
    }
}

.grid3 {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 18px;

    @mixin atLarge {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 45px;
    }
}