.row1 {

    @mixin atMedium {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    grid-gap: 65px;
    }

    &__4 {
        margin-bottom: 1rem;

        @mixin atMedium {
            margin-bottom: 0;
        }
    }
}